<!-- index.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <title>GitHub Login</title>
  </head>
  <body>
    <h1>GitHub Login</h1>
    <a href="/github/login">Login com o GitHub</a>
  </body>
</html>
